body {  
    background-image:url(forest-9568429_1280.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    background-color: rgb(240, 240, 240);
    color: rgb(34, 34, 34);
    border: 50px solid rgba(34, 30, 30, 0);
    box-sizing: border-box;

span {
  
    font-weight: bold;
}


.seitenkopf {
    display: grid;
    text-align: center;
    background-color: rgba(123, 164, 177, 0);
    padding: 15px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;

}

.introtext{
    display: grid; 
    position: relative;
    max: width 100%;
    max-height: 100%;
    border-radius: 10px;
    padding-right : 50px;
    text-align: right;
    text-decoration: wavy;
    padding: 20px 30px;
    font-size: 20;
    grid-template-columns: repeat(2, 1fr);

}

.calendar {
    display: block;
    position: relative;
    left: 30;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(58, 41, 41, 0);
    padding: 50 px;
    border-radius: 10px;
    margin-top: 10px;
    width: 30%;

}   
.saturday {
   color:hotpink;
}

.sunday{
    color:blueviolet
}
.monthChangeButtons {
 background-color: #518f9e; 
  border: none;
  color: white;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  

    


}
.overlap {
    color: rgb(49, 33, 28)

}

.today{
    color:#4383be;
    border: solid rgb(44, 99, 172) 5px;


}
.date-grid, .day-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    margin: 20px;
    
 
}
.date-grid div  {
    background-color: rgba(123, 164, 177, 0.493);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: rgba(123, 164, 177, 0.693);
    }       
    
}

.day-of-week div {
    background-color: rgba(123, 164, 177, 0.493);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.day-of-week div:hover {
    background-color: rgba(123, 164, 177, 0.693);
}

p {
    font-weight: normal;
    font-size: medium;
    line-height: 1.5;
    margin: 0;
}

.title {
    display:grid;
    padding: 20;
    text-align: left;
    font-size: 15px;
    color: #667c94;
    margin-bottom: 10px;
} 

.list-container {
    display: block;
    float:right;
    flex-direction: column;
    align-items: left ;
    justify-content: left;
    background-color: rgba(58, 41, 41, 0);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: large;
    color: rgba(198, 233, 233, 0.623);
}

#überschrift {
    font-weight: bold;
    text-align: start;
    font-size: 20px;
    color: #b5c3d1;
    margin-bottom: 12px;
    padding: 12px;
    text-align: end;
}
.list-item {
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ffffff00;
    transition: all;
    cursor: pointer;
}
.list-item.completed {
    text-decoration: none;
    color: #9e7a7a;
}
.list-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    padding: 0;
}
.list-item button:hover {
    text-decoration: underline;
}
.list-item button:focus {
    outline: none;
}   
.heute {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: #11111100;
    border: 2px solid rgba(0, 0, 0, 0);
    border-color: rgb(0, 0, 0);
    padding: 10px 10px;
    margin: 20px 20px;
    cursor: pointer;
}   
.heute:hover {
    background-color: rgba(107, 168, 187, 0.493);
}