body {
  background-color: #822a76;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Arial", sans-serif;
  background-color: rgb(80, 56, 56);
  color: rgb(11, 10, 10);
  border: 10px solid rgba(34, 30, 30, 0);
  box-sizing: border-box;
}

span {
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns:  
    repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 2rem; /* Einheitliche Abstände zwischen Grid-Items */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .grid-container {
    max-width: 1400px;
  }
}

.calendar, 
.calendar-container {
  grid-column: 1/3;
  grid-row: 2/3;
  transform: translateY(30%);
  border: 5px solid rgba(0, 0, 0, 0);

}

.calendar-header {
  grid-column: 1/3;
  grid-row: 1/;
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(125, 167, 180, 0);
  border-radius: 10px;
  z-index: 10;
  margin: -50px;
  margin-left: 0;    /* Seitliche margins auf 0 setzen */
  margin-right: 0;
  margin-bottom: 0;
  position: relative;
  overflow:; scroll;
  box-sizing: border-box;
  padding: clamp(10px, 2vw, 20px); /* Responsive padding */
  font-size: clamp(16px, 4vw, 24px); 

}

/*.calendar-header { border: 2px solid red !important; }
.calendar { border: 2px solid blue !important; }*/

.monthChangeButtons{
  background-color: rgba(123, 164, 177, 0.493);
  border: none;
  color: black;
  padding: 8px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 5px;
  justify-content: space-evenly;

}

.seitenkopf {
  grid: column 1 / 2;
  grid-row: 1;
  background-color: rgba(123, 164, 177, 0);
  padding: 10px 20px;
  border-radius: 10px;

}

.introtext {
  grid-column: 3/8;
  grid-row: 1/2;
  border-radius: 0px;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid black;
}
.list-container {
  display: grid;
  grid-row: 2/5;
  grid-column: 3/8;
  padding: 10px 20px;
  text-align: left;
  border-radius: 10px;
  list-style: none;
  font-size: large;
  color: rgb(9, 9, 9);
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  box-shadow: 0 4px 6px rgba(194, 170, 170, 0.1);
  overflow: hidden
}

.date-grid,
.day-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  margin: 5px;
}

.date-grid div {
  background-color: rgba(17, 17, 17, 0.493);
  border: solid;
  border-color: #11111100;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgba(123, 164, 177, 0.693);
  }
}

.day-of-week div {
  background-color: rgba(14, 16, 16, 0.493);
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: rgb(73, 87, 164);
}
.day-of-week div:hover {
  background-color: rgba(123, 164, 177, 0.693);
}

.saturday {
  color: #d97e28;
}
.sunday {
  color: rgb(176, 32, 32);
}

.overlap {
  color: rgb(156, 134, 127);
}

.today {
  color: #287e27;
  border: solid rgb(137, 28, 159) 5px;
}

.list-item {
  margin: 0% 0;
  padding: 0%;
  border-bottom: 2px solid #ffffff00;
  cursor: pointer;
}

.heute {
  position: absolute;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  background-color: #11111100;
  border: 2px solid rgba(0, 0, 0, 0);
  border-color: rgb(0, 0, 0);
  padding: 10px 10px;
  margin: 20px 20px;
  cursor: pointer;
}
.heute:hover {
  background-color: rgba(107, 168, 187, 0.493);
}
